@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 768px) {
	.container{
		width: 100%;
		text-align: center;
		grid-template-columns: repeat(1,1fr);
		grid-template-rows: auto;
		grid-gap: 1rem;
		font-family: 'Montserrat', sans-serif;
		grid-template-areas:
			"nav"
			"cta"
			"header"
			"main"
			"events"
			"program"
			"profile"
			"friends";
	}
	
		nav{
		grid-area: nav;
		align-self: auto;
		}
		nav li {
			display: inline-block;
		}
		nav li a {
			font-size: 1.25rem;
			color: #FF4E50;
			letter-spacing: 0.2rem;
			margin-left: 0.625rem;
			text-transform: uppercase;
		}
		nav li a .active {
			color: white;
			background-color: #FF4E50;
		}
}